extends layout

block content
	h1= title
	p Welcome to #{title}
	ul
		for comp in competitions
			li
				p
					a(href="/setup/" + comp._id) #{comp.competitionName}
				p
					a(href="/scores/" + comp._id) Scores